// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #0091e1;
$secondary: #8f939b;
$success: #12805f;
$info: #d1ecfb;
$warning: #ffc107;
$danger: #dc3545;
$light: #f5f7fc;
$dark: #0c0c0c;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    light: $light,
    dark: $dark,
    // add any additional color below
);

$display-font-sizes: (
    1: 6rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem
);

$navbar-height: 85px;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here
body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
}


.pj-layout {
    display: grid;
    grid-template-areas: 'sidebar main';
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
}

.pj-sidebar {
    display: block;
}

.pj-layout .pj-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
    max-height: calc(100vh - $navbar-height - 5rem);
    grid-area: sidebar;
    overflow-y: auto;

    border-color: $gray-300;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;

    //justify-self: left;
}


.pj-layout .pj-main {
    grid-area: main;
    justify-self: stretch;
    //overflow: hidden !important;

    display: grid;
}

// For readability
.pj-main p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.syllabus-section-info p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.pj-main code {
    font-size: 1.2rem;
    line-height: 1.8;
    background-color: $gray-100;
}

.pj-main ul,
ol {
    font-size: 1.2rem;
    line-height: 1.8;
}

.pj-main li li {
    font-size: 1.2rem;
    line-height: 2.5;
    margin-left: 1.3rem;
}

.pj-sidebar nav a.active {

    background-color: #0091e1;
    color: white;
}

.pj-sidebar nav a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-bottom: 1px;

    color: inherit;
    text-decoration: none;
    border-radius: 5px;
}

.nav-link {
    color: $white
}

.pj-part {
    color: $secondary;
    text-decoration: none;
    border-color: $secondary;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
}

.pj-part-table {
    padding: 0px 20px 20px 20px;
    border-collapse: separate;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 1px;
    max-width: 500px;
    vertical-align: middle;
}

.pj-schem {
    width: 100%;
    max-width: 800px;
    height: auto;
    overflow: scroll;
}

.pj-img {
    float: left;
    width: 100%;
    max-width: 800px;
}

.pj-code {
    border-radius: 5px;
    box-shadow: 0px 5px 4px -3px rgba(0, 0, 0, 0.1);
}

pre code.pj-code {
    padding: 60px;
}

.pj-download-table {
    padding: 0px 20px 20px 20px;
    border-collapse: separate;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 1px;
    vertical-align: middle;
    max-width: 450px;
}

.text-gray {
    color: $gray-600;
}

.text-red {
    color: $red-500;
}

.text-orange {
    color: $orange-500;
}

.text-yellow {
    color: $yellow-500;
}

.text-green {
    color: $green-500;
}

.text-blue {
    color: $blue-500;
}

.text-indigo {
    color: $indigo-400;
}

#project-toc li li {
    margin-left: 1.3rem;
}

.footer {
    background-color: $gray-300;
}

.landing-title-box {
    height: calc(100vh - $navbar-height);
    width: 100%;
    position: relative;
    font-family: 'Beckman', 'Roboto', sans-serif;

    overflow: hidden !important;
}

.landing-title-box .landing-title-box-background {
    /* The image used */
    background-image: url("../assets/images/ops_gallery_1.jpg");

    /* Add the blur effect */

    //Delay 1s, Ease 2s, finish on last keyframe after one iteration
    animation: blur 2s ease 1s 1 normal forwards;
    -webkit-animation: blur 2s ease 1s 1 normal forwards;
    -moz-animation: blur 2s ease 1s 1 normal forwards;

    /* Full height */
    height: 107%;
    width: 107%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    //overflow: hidden;

    position: absolute;
    margin: -15px;

    z-index: -1;
}

@keyframes blur {
    0% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
    }

    100% {
        filter: blur(10px);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
    }
}

.landing-title-box .landing-title-box-title {
    line-height: 1;
}

.landing-title-box .landing-title-box-img {
    width: 25vw;
    max-width: 275px;
    height: auto;
}

.landing-advert {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.landing-testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

#ops-navbar {
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.24);
    min-height: $navbar-height;
}


.timeline-with-icons {
    margin-left: 2rem;
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: $info;
    color: $primary;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-with-icons .timeline-icon-big {
    position: absolute;
    left: -53px;
    background-color: $info;
    color: $primary;
    border-radius: 50%;
    height: 41px;
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 992px) {
    .pj-layout {
        display: grid;
        grid-template-areas: 'main';
        grid-template-columns: 4fr;
        gap: 2rem;
    }

    .pj-sidebar {
        display: none;
    }

    .landing-advert {
        grid-template-columns: 1fr;
    }

    .landing-testimonials {
        grid-template-columns: 1fr;
    }

}

.pride {
    background: linear-gradient(89.7deg, rgba(223, 0, 0, 1) 2.7%, rgba(214, 91, 0, 1) 15.1%, rgb(223, 200, 0) 29.5%, rgb(6, 189, 0) 45.8%, rgba(29, 255, 255, 1) 61.5%, rgba(5, 17, 255, 1) 76.4%, rgb(169, 0, 211) 92.4%) !important;
}

.pride .nav-item>a {
    color: $white !important;
}